@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/cards.css");

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #00ffcc;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
